body{
  font: 15px/1.5 'Lato', Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

#branding {
	text-align: center;
}

.highlight {
	background-color: pink;
	color: white;
	padding: 15px;
	border-radius: 40px;
}

h1 {
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: underline;
}

p {
	margin-bottom: 50px;
}

img {
	width: 300px;
	height: 300px;
	border: 5px solid white;
	border-radius: 50%;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

.pink {
	background-color: pink;
	color: white;
	padding: 20px;
	border-radius: 20px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

button {
	background: pink;
	color: white;
	padding: 10px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

button a {
	text-decoration: none;
}

a.big-link {position:relative;}
a.big-link:before {
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}